{% extends 'core/base.html' %}
{% load blog_tags %}
{% block title %}{{ site_identity.title }} - {{ post.title }}{% endblock %}
{% block content %}

    <div class="columns is-desktop">
        <div class="column">
            <div class="section">
                {% include "blog/post/includes/post_title_header.html" %}
                {% if post.header_image %}
                <figure class="">
                    <img src="{{ post.header_image.url }}"
                                alt="{{ post.title }}"
                                class="post-detail-header-image">
                </figure>
                {% endif %}
                <div class="content">
                    {{ post.body|safe }}
                </div>
            </div>
        </div>
        <div class="column is-5-desktop">
            {% include "blog/post/includes/sidebar.html" %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}