{% extends "core/base.html" %}
{% load blog_tags %}
{% block title %}
  {{ post.get_short_title }} - {{ block.super }}
{% endblock title %}
{% block head_links %}
{{ block.super }}
{% endblock head_links %}
{% block content %}
  <div class="columns is-desktop">
    <div class="column">
      <div class="section">
        {% if post.preview_image and post.show_preview_image %}
          {% if post.preview_image_position == 'L' %}
            <div class="columns is-vcentered">
              <div class="column is-5">
                <figure class="image is-3by4 post-preview">
                  <img src="{{ post.preview_image.front_page }}"
                       alt="{{ post.title }}"
                       width="600"
                       height="800">
                  {% if post.prevew_image_credit %}
                  <figcaption class="credit is-size-7">{{ post.prevew_image_credit }}</figcaption>
                  {% endif %}
                </figure>
              </div>
              <div class="column">
                {% include "blog/post/includes/post_title_header.html" %}
              </div>
            </div>
          {% else %}
            <figure class="block post-preview image is-16by9">
              <img src="{{ post.preview_image.header }}"
                   alt="{{ post.title }}"
                   width="1280"
                   height="720">
              {% if post.prevew_image_credit %}
              <figcaption class="credit is-size-7">{{ post.prevew_image_credit }}</figcaption>
              {% endif %}
            </figure>
            {% include "blog/post/includes/post_title_header.html" %}
          {% endif %}
        {% else %}
          {% include "blog/post/includes/post_title_header.html" %}
        {% endif %}
        <div class="content" id="post-content">
          {% if post.show_post_nav %}
            <div id="post-nav"
                 class="has-background-white has-text-weight-medium is-invisible"
                 >
              <span class="has-text-primary">Jump to:</span>
            </div>
          {% endif %}
          {{ post.body|safe }}
        </div>
      </div>
    </div>
    <div class="column is-4-desktop">{% include "blog/post/includes/sidebar.html" %}</div>
  </div>
{% endblock content %}
{% block scripts %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% if post.show_post_nav %}
    {% load static %}
    <script src="{% static "js/show_post_nav.js" %}" charset="utf-8"></script>
  {% endif %}
{% endblock scripts %}
