{% extends "core/base.html" %}
{% load blog_tags %}
{% block title %}
  {% if tag %}
    Posts tagged with {{ tag }}
  {% elif category %}
    Posts for category {{ category }}
  {% else %}
    All Posts
  {% endif %}
  - {{ block.super }}
{% endblock title %}
{% block content %}
  <div class="section">
    <div class="block">
      {% if tag %}Posts tagged with <span class="tag is-warning is-large">{{ tag }}</span>{% endif %}
      {% if category %}Posts for category <span class="tag is-primary is-large">{{ category }}</span>{% endif %}
    </div>
    {% include "blog/post/includes/post_list.html" %}
  </div>
{% endblock content %}
