{% extends 'core/base.html' %}
{% load blog_tags %}
{% load crispy_forms_tags %}
{% block title %}{{ site_identity.title }} - Search{% endblock %}
{% block content %}
    
    <div class="section">
        <div class="block">
            <div class="title is-4">Search</div>
            <form action="{% url 'blog:post_search' %}" method="GET">
                {{ form|crispy }}
                <input type="submit" value="Search" class="button is-info">
            </form>
        </div>
        <div class="block">
            <div class="title is-4">Results</div>
            {% if posts %}
                {% include "blog/post/includes/post_list.html" %}
            {% else %}
                <div>No results yet... 🕵️‍♀️</div>
            {% endif %}
        </div>
    </div>

{% endblock %}