.git
.gitignore
.vscode/
**/*.pyc
__pycache__/
.DS_Store
*.sqlite3
/frontend/*
raw-data*.json
/settings/*
.env
.env.*
backend/media/*
readme.md
.venv
Dockerfile
docker-compose.yml
.dockerignore
/backend/logs/*