.vscode/
*.pyc
.DS_Store
Pipfile.lock
package-lock.json
dockertest/*
tutorial1poll/*
*.sqlite3
backend/media/*
/Dockerfile
/docker-compose.yml
/frontend/node_modules
raw-data*.json
.env
.env.*

# sample env file
!settings/.env
