[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-taggit = "*"
markdown = "*"
django-ckeditor = "*"
django-imagekit = "*"
pillow = "*"
lxml = "*"
fontawesomefree = "*"
django-crispy-forms = "*"
crispy-bulma = "*"
gunicorn = "*"
django-select2 = "*"
django-meta = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
black = "*"
django-debug-toolbar = "*"
isort = "*"
ipython = "*"

[requires]
python_version = "3.11"

[scripts]
devdb = "docker compose --profile dev up"
django = "python backend/manage.py runserver 0.0.0.0:80"
migrate = "python backend/manage.py migrate"
dumpdata = "python -Xutf8 backend/utils/dump_data.py"
createsuperuser = "python backend/manage.py createsuperuser"
