[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-taggit = "*"
markdown = "*"
psycopg2-binary = "*"
django-ckeditor = "*"
django-imagekit = "*"
pillow = "*"
lxml = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[scripts]
db = "docker-compose up"
django = "python backend/manage.py runserver 0.0.0.0:80"
migrate = "python backend/manage.py migrate"
