{% load blog_tags %}
<div id="list-items">
    {% for post in posts %}
        <div class="columns is-vcentered">
            {% if post.thumbnail %}
            <div class="column is-narrow is-hidden-mobile is-flex">
                <figure class="image post-preview-image">
                    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                </figure>
            </div>
            {% endif %}
            <div class="column">
                <div class="block">
                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="title is-3">{{ post.title }}</h2>
                    </a>
                    {% include 'blog/post/includes/post_tags.html' %}
                    <p class="date">
                        Published {{ post.publish }} by {{ post.author.first_name }}
                    </p>
                </div>
                <div class="content">
                    {{ post.body|truncatewords_html:50|html_preview|safe }}
                </div>
            </div>
        </div>
        {% if not forloop.last %} <hr> {% endif %}
    {% endfor %}
    {% include "pagination.html" %}
</div>