{% extends "core/base.html" %}
{% load static %}
{% block title %}
  {{ block.super }} - {{ site_identity.tagline }}
{% endblock title %}
{% block head_links %}
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'css/carousel_calcs.css' %}">
{% endblock head_links %}
{% block content %}
  {% for category in categories %}
    <div class="section">
      <!-- Slider main container -->
      <div id="carousel-{{ forloop.counter0 }}" class="swiper">
        <div class="carousel-header">
          <a class="title category-name has-text-weight-normal "
             href="{{ category.get_absolute_url }}">{{ category.name }}</a>
          <a href="{{ category.get_absolute_url }}" class="carousel-view-all"><span>&#xFF0B</span><span class="ml-1">View All</span></a>
        </div>
        <div class="py-1">{% comment %} spacer div {% endcomment %}</div>
        <!-- If we need scrollbar -->
        {% comment %} <div class="swiper-scrollbar"></div> {% endcomment %}
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for featured_post in category.front_page_featured_posts %}
            <div class="swiper-slide">
              <a href="{{ featured_post.post.get_absolute_url }}">
                <div class="card is-shadowless pb-4">
                  <div class="card-image">
                    <figure class="image is-3by4">
                      {% if featured_post.post.preview_image %}
                        <img loading="lazy" src="{{ featured_post.post.preview_image.front_page }}"
                             alt="{{ featured_post.post.title }}">
                      {% else %}
                        <img src="{% static 'images/carousel_placeholder.jpg' %}"
                             alt="Placeholder image">
                      {% endif %}
                    </figure>
                  </div>
                </div>
                <div class="block has-text-centered slide-annotation">
                  <p class="is-size-6 has-text-weight-medium text-pink-on-hover">{{ featured_post.post.get_short_title }}</p>
                </div>
              </a>
            </div>
            {% if forloop.last %}
              <div class="swiper-slide">
                <a href="{{ category.get_absolute_url }}">
                  <div class="card is-shadowless pb-4">
                    <div class="card-image">
                      <figure class="image is-3by4">
                        {% comment %} TODO: change this to category preview pic {% endcomment %}
                        {% if category.preview_image %}
                          <img src="{{ category.preview_image.front_page }}" alt="{{ category.name }}">
                        {% else %}
                          {% if site_identity.carousel_logo %}
                            <img src="{{ site_identity.carousel_logo.url }}" alt="Placeholder image">
                          {% else %}
                            <img src="{% static 'images/carousel_placeholder.jpg' %}"
                                 alt="Placeholder image">
                          {% endif %}
                        {% endif %}
                      </figure>
                    </div>
                  </div>
                  <div class="block has-text-centered slide-annotation">
                    <p class="is-size-6 has-text-weight-medium text-pink-on-hover">More of {{ category.name }}</p>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="pagination-wrapper">
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination mx-4"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% comment %} {% include "blog/front_page/utils/font_picker.html" %} {% endcomment %}
{% endblock content %}
{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="{% static 'js/front_page.js' %}"></script>
{% endblock scripts %}
