{% load blog_tags %}
{% load core_tags %}
{% load static %}
{% get_site_identity as site_identity %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/site_styles_with_bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel_calcs.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arsenal|Open+Sans|Dawning+of+a+New+Day">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/htmx.org@1.8.6"></script>

    {% if site_identity.favicon %}
      <link rel="icon" type="image/x-icon" href="{{ site_identity.favicon.url }}"/>
      <link rel="shortcut icon" type="image/png" href="{{ site_identity.favicon.url }}"/>
    {% endif %}
    <meta name="theme-color" content="#ffffff">
    {% block head_links %}
    {% endblock %}
</head>
<body>
    {% include "core/base_includes/header.html" %}
    <div class="container">
        {% block content %}
        {% endblock %}

      </div>
      {% get_subscription_options as sub_options %}
      {% if sub_options.show_kofi_form_in_footer %}
      <div class="container section is-desktop has-text-centered">
        <div class="columns">
          <div class="column is-hidden-mobile"></div>
          <div class="column is-6">
            <iframe id='kofiframe' 
            src='https://ko-fi.com/{{ sub_options.kofi_account_name }}/?hidefeed=true&widget=true&embed=true&preview=true' 
            style='border:none;padding:4px;width:100%;' height='740' title='{{ sub_options.kofi_account_name }}'>
            </iframe>
          </div>
          <div class="column is-hidden-mobile"></div>
        </div>
      </div>
      {% endif %}
    <footer class="footer has-text-centered">
      <div class="content">
        {% if site_identity.footer %}
        {{ site_identity.footer|safe }}
        {% endif %}
      </div>
      <div>
          <strong>
            <i class="fa-solid fa-copyright"></i> {{ site_identity.title }} {% now "Y" %}.
          </strong>
      </div>
    </footer>

    {% comment %} {% include "blog/front_page/utils/font_picker.html" %} {% endcomment %}
</body>
{% block scripts %}
{% endblock %}
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/post_helpers.js' %}"></script>
{% if sub_options.show_kofi_overlay_button %}
  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
  <script>
    kofiWidgetOverlay.draw('{{ sub_options.kofi_account_name }}', {
      'type': 'floating-chat',
      'floating-chat.donateButton.text': 'Support me',
      'floating-chat.donateButton.background-color': '#00b9fe',
      'floating-chat.donateButton.text-color': '#fff'
    });
  </script>
{% endif %}
</html>