{% extends 'core/base.html' %}
{% block title %}{{ site_identity.title }}{% endblock %}
{% block head_links %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
{% endblock %}
{% block content %}
{% for category in categories %}
<div class="section">
    
    <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-baseline">
        <h3 class="title is-3 m-2 category-name">
            {{ category.name }}
        </h3>
        <a href="{{ category.get_absolute_url }}" class="subtitle is-5 has-text-info m-2">
            View all    
        </a>
    </div>
    
    <!-- Slider main container -->
    <div class="swiper">

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need scrollbar -->
        {% comment %} <div class="swiper-scrollbar"></div> {% endcomment %}

        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for featured_post in category.get_featured_posts %}
            <div class="swiper-slide">
                
                <a href="{{ featured_post.get_absolute_url }}">
                    <div class="card is-shadowless pb-5">
                        <div class="card-image">
                            <figure class="image is-3by4">
                                {% if featured_post.front_page_image %}
                                    <img src="{{ featured_post.front_page_image.url }}"
                                                alt="{{ featured_post.title }}">
                                {% else %}
                                    <img src="https://bulma.io/images/placeholders/1280x960.png"
                                                alt="Placeholder image">
                                {% endif %}
                            </figure>
                        </div>
                    </div>

                    <div class="block has-text-centered slide-annotation">
                        <p class="subtitle is-5">
                            {{ featured_post.title }}
                        </p>
                    </div>
                </a>

            </div>
            {% if forloop.last %}
            <div class="swiper-slide">
                <a href="{{ category.get_absolute_url }}">
                    <div class="card is-shadowless pb-5">
                        <div class="card-image">
                            <figure class="image is-3by4">
                                {% comment %} TODO: change this to category preview pic {% endcomment %}
                                {% if category.front_page_image %}
                                    <img src="{{ category.front_page_image.url }}"
                                                alt="{{ category.name }}">
                                {% else %}
                                    <img src="https://bulma.io/images/placeholders/1280x960.png"
                                                alt="Placeholder image">
                                {% endif %}
                            </figure>
                        </div>
                    </div>
                    <div class="block has-text-centered slide-annotation">
                        <p class="subtitle is-5">
                            More of {{ category.name }}
                        </p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
    </div>

    
</div>
{% endfor %}

{% comment %} {% include "blog/front_page/utils/font_picker.html" %} {% endcomment %}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
{% load static %}
<script src="{% static 'js/front_page.js' %}"></script>
{% endblock %}