{% extends 'blog/base.html' %}
{% block title %}Doggo Bloggo - Front page{% endblock %}
{% block content %}

{% for category in categories %}
<div class="section">
    
    <a href="{{ category.get_absolute_url }}">
        <h3 class="title is-3 m-2">
            {{ category.name }}
        </h3>
    </a>
    
    <div class="level is-mobile carousel pb-5">
        {% for featured_post in category.get_featured_posts %}
            <div class="level-item responsive-card">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            {% if featured_post.front_page_image %}
                                <img src="{{ featured_post.front_page_image.url }}"
                                            alt="{{ featured_post.title }}">
                            {% else %}
                                <img src="https://bulma.io/images/placeholders/1280x960.png"
                                            alt="Placeholder image">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <a href="{{ featured_post.get_absolute_url }}">
                            <p class="subtitle is-6">
                                {{ featured_post.title }}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}