{% load blog_tags %}
<div id="list-items">
    {% for post in posts %}
        <div class="columns is-vcentered box">
            {% if post.thumbnail %}
            <div class="column is-narrow is-hidden-mobile is-flex">
                <figure class="image post-preview-image">
                    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                </figure>
            </div>
            {% endif %}
            <div class="column">
                <div class="block">
                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="title is-3">{{ post.title }}</h2>
                    </a>
                    <div class="py-2">
                        {% include 'blog/post/includes/post_tags.html' with tpost=post %}
                    </div>
                    <p class="date">
                        Published {{ post.publish }} by {{ post.author.first_name }}
                    </p>
                </div>
                <div class="content">
                    {{ post.body|tweet_or_truncate:30|html_preview|safe }}
                </div>
                <div class="block">
                    <a href="{{ post.get_absolute_url }}" 
                    class="button is-warning has-text-primary-dark">
                        See the rest...
                    </a>
                </div>
            </div>
        </div>
        {% if not forloop.last %} <br> {% endif %}
    {% endfor %}
    {% include "pagination.html" %}
</div>

{% block scripts %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}