{% for cat in tpost.categories.all %}
    <a href="{{ cat.get_absolute_url }}"
       class="tag is-primary has-text-black has-text-weight-medium">{{ cat }}</a>
{% endfor %}
{% for subcat in tpost.subcategories.all %}
    <a href="{{ subcat.get_absolute_url }}"
       class="tag is-primary has-text-black has-text-weight-medium">{{ subcat }}</a>
{% endfor %}
{% for tag in tpost.tags.all %}
    <a href="{{ tag.get_absolute_url }}"
       class="tag is-warning has-text-weight-medium has-text-black {% if forloop.counter > 10 %}is-hidden{% endif %}">
        {{ tag }}
    </a>
    {% if forloop.counter == 10 and not forloop.last %}
        <a class="tag-expander is-size-7 pl-2 has-text-primary has-text-weight-medium">Show all tags...</a>
    {% endif %}
{% endfor %}
