<div class="block">
    {% if is_list %}
    <a href="{{ post.get_absolute_url }}">
        <h2 class="title is-3">{{ post.title }}</h2>
    </a>
    {% else %}
    <h2 class="title is-3">{{ post.title }}</h2>
    {% endif %}
    <div class="py-2">
        {% include "blog/post/includes/post_tags.html" with tpost=post %}
    </div>
    <div class="author-card columns is-mobile">
        <div class="column is-narrow">
            <div class="image is-96x96">
                <img src="{{ post.author.profile.avatar.thumb }}" alt="{{ post.author.first_name }} avatar" class="author-avatar" height="96" width="96">
            </div>
        </div>
        <div class="column">
            <div class="author">Written by {{ post.author.first_name }}</div>
            <div class="date">{{ post.publish|date:"DATE_FORMAT" }}</div>
        </div>
    </div>
</div>