{% load blog_tags %}
<div class="section sticky" id="related-posts">
    {% comment %} Only posts with preview_image get fetched {% endcomment %}
    {% if similar_posts %}
        <h3 class="title is-4 block">Related Posts</h3>
        {% for spost in similar_posts %}
            {% include "blog/post/includes/related_post_card.html" with spost=spost %}
        {% endfor %}
        <div class="pb-4"></div>
    {% endif %}
    <h3 class="title is-4 block">Latest Posts</h3>
    {% get_latest_posts as latest_posts %}
    {% for spost in latest_posts %}
        {% include "blog/post/includes/related_post_card.html" with spost=spost %}
    {% endfor %}
</div>
