{% extends "core/base.html" %}
{% load blog_tags %}
{% block title %}
  {{ category.name }} - {{ block.super }}
{% endblock title %}
{% block content %}
  <div class="section">
    <h3 class="title has-text-weight-normal">{{ category.name }}</h3>
    {% include "blog/categories/includes/filter_by_tag.html" %}
    {% include "blog/post/includes/post_list.html" %}
  </div>
{% endblock content %}
{% block scripts %}
  {% load static %}
  <script src="{% static 'js/htmx_helpers.js' %}"></script>
{% endblock scripts %}
