{% extends "core/base.html" %}
{% block title %}
  {{ subcategory.name }} - {{ block.super }}
{% endblock title %}
{% block content %}
  <div class="section">
    <h3 class="title has-text-weight-normal is-flex is-flex-direction-row is-flex-wrap-wrap is-align-items-baseline">
      {% if category %}
        <a href="{{ category.get_absolute_url }}"
           class="title has-text-weight-normal">{{ category.name }}</a>
        <i class="fa-solid fa-chevron-right is-size-5 has-text-primary mx-2"></i>
        {{ subcategory.name }}
      {% else %}
        {{ subcategory.name }}
      {% endif %}
    </h3>
    {% include "blog/categories/includes/filter_by_tag.html" %}
    {% include "blog/post/includes/post_list.html" %}
  </div>
{% endblock content %}
{% block scripts %}
  {% load static %}
  <script src="{% static 'js/htmx_helpers.js' %}"></script>
{% endblock scripts %}
