{% extends "core/base.html" %}
{% block title %}
  {{ category.name }} - {{ block.super }}
{% endblock title %}
{% block content %}
  {% load static %}
  <div class="section pt-0" id="all-tags">
    {% regroup tags by slug.0 as alpha_tags %}
    <div id="alpha-links" class="level sticky">
      <div class="level-item">
        {% for letter, letter_tags in alpha_tags %}
          <a href="#starts-with-{{ letter|upper }}"
             class="letter-link subtitle is-5 has-text-primary">{{ letter|upper }}</a>
        {% endfor %}
      </div>
    </div>
    <h3 class="title has-text-weight-normal">{{ category.name }}</h3>
    <span class="subtitle" id="search-filter">
      <span class="control has-icons-right">
        <input type="text" id="tag-quick-search" class="input" placeholder="Search">
        <span class="icon is-small is-right">
          <i class="fa-solid fa-xmark"></i>
        </span>
      </span>
    </span>
    <p class="pb-5">{{ category.description }}</p>
    <p class="not-found">Try searching for something else...</p>
    {% for letter, letter_tags in alpha_tags %}
      <div class="by-letter">
        <p class="title is-3 pl-5 pt-6" id="starts-with-{{ letter|upper }}">{{ letter|upper }}</p>
        {% for tag in letter_tags %}
          <div class="columns is-mobile tag-wrapper">
            <div class="column is-narrow">
              <div class="image is-96x96">
                <img loading="lazy" height="100" width="100" src="{% if tag.preview_image %}{{ tag.preview_image.thumb }}{% else %}{% static "images/ph_person.svg" %}{% endif %}" alt="{{ tag.name }}" class="is-rounded">
              </div>
            </div>
            <div class="column is-flex is-flex-direction-column is-justify-content-center">
              <p class="title is-4">
                <a href="{{ tag.get_absolute_url }}" class="has-text-primary tag-name">{{ tag.name }}</a>
              </p>
              {% comment %} <p class="subtitle is-6">
              {% if tag.description %}
                {{ tag.description }}
              {% else %}
                🐱‍👤🤷‍♀️
              {% endif %}
              </p> {% endcomment %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  {% comment %} search filter helpers to go with the script below {% endcomment %}
  <style>
    #all-tags.searched .by-letter:not(:has(.searched)) {
      display: none;
    }
    #all-tags.searched .by-letter:has(.searched) .tag-wrapper:not(:has(.searched)){
      display: none;
    }
    #all-tags .not-found {
      display: none;
    }
    #all-tags.searched:not(:has(.searched)) .not-found {
      display: block;
    }
    #search-filter .control {
      display: flex;
    }
    #tag-quick-search + .icon {
      pointer-events: all;
      cursor: pointer;
    }
    #tag-quick-search:placeholder-shown + .icon {
      display: none;
    }
    @media screen and (min-width: 768px){
      #search-filter {
        display: inline-flex;
      }
    }
  </style>
{% endblock content %}
{% block scripts %}
  {% load static %}
  <script src="{% static "js/cat_tag_list_filter.js" %}"></script>
{% endblock scripts %}
