{% extends "core/base.html" %}
{% block title %}
  {{ category.name }} - {{ block.super }}
{% endblock title %}
{% block content %}
  <div class="section pt-0">
    {% regroup tags by slug.0 as alpha_tags %}
    <div id="alpha-links" class="level sticky">
      <div class="level-item">
        {% for letter, letter_tags in alpha_tags %}
          <a href="#starts-with-{{ letter|upper }}"
             class="letter-link subtitle is-5 has-text-primary">{{ letter|upper }}</a>
        {% endfor %}
      </div>
    </div>
    <h3 class="title is-3 is-uppercase">{{ category.name }}</h3>
    <p class="pb-5">{{ category.description }}</p>
    {% for letter, letter_tags in alpha_tags %}
      <p class="title is-3 pl-5" id="starts-with-{{ letter|upper }}">{{ letter|upper }}</p>
      {% for tag in letter_tags %}
        <div class="columns is-mobile">
          <div class="column is-narrow">
            <div class="image is-96x96">
              <img height="100"
                   width="100"
                   src=" {% if tag.thumbnail %} {{ tag.thumbnail.url }} {% else %} https://bulma.io/images/placeholders/96x96.png {% endif %}"
                   alt="{{ tag.name }}"
                   class="is-rounded">
            </div>
          </div>
          <div class="column is-flex is-flex-direction-column is-justify-content-center">
            <p class="title is-4">
              <a href="{{ tag.get_absolute_url }}" class="has-text-primary">{{ tag.name }}</a>
            </p>
            {% comment %} <p class="subtitle is-6">
              {% if tag.description %}
                {{ tag.description }}
              {% else %}
                🐱‍👤🤷‍♀️
              {% endif %}
            </p> {% endcomment %}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock content %}
