@charset "utf-8";

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.section {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.section.is-medium {
  padding-top: 9rem;
  padding-bottom: 4.5rem;
}

.has-text-centered {
  text-align: center !important;
}

.section.is-large {
  padding-top: 18rem;
  padding-bottom: 6rem;
}

/* touch devices */
@media only screen and (min-width: 769px) {
}

/* desktop */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* widescreen */
@media only screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

/* full hd */
@media only screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}
