@charset "utf-8";
// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Arsenal|Open+Sans|Dawning+of+a+New+Day');
// $footerfont:
// $sitetitlefont:
// $posttitlefont:
// $caruoseltitlefont:
// $carousellinkfont:
// $carouselposttitlefont:
// $menufont:
// $readmorefont:
// $taglisttitlefont:
// $taglistnamefont:

$font-family-inter: "Inter", sans-serif;
$font-family-mallanna: "Mallanna", sans-serif;
$font-family-karla: "Karla", sans-serif;
$font-family-overpass: "Overpass", sans-serif;
$font-family-opensans: "Open Sans";
$family-sans-serif: $font-family-inter;
// $family-primary:
// $family-secondary:
// $body-family:

$bgcolour: #ffffff;
$textcolour: #000000;
$accentcolour: #d6a496;
$highlightcolour: #fedd90;
$accentdisabled: #d9cfcc;
$highlightedtext: $accentcolour;

// $sitetitletext: $textcolour;
// $tagtext: $textcolour;
// $categorytagbgcolor: $accentcolour;
// $tagbgcolor: $highlightcolour;
// $posttitletext: $textcolour;
// $carouseltitlecolor: $textcolour;
// $carousellinkcolor: $accentcolour;
// $carouselposttitle: $textcolour;
// $footerbg: $accentcolour;
// $topiconsbg: $bgcolour;
// $readmorebubblebg: $highlightcolour;
// $taglistnamecolor: $accentcolour;

$black: #000000;
$black-bis: #151d28;
$black-ter: #202e37;
$grey-darker: #394a50;
$grey-dark: $textcolour;
$grey: #819796;
$grey-light: #a8b5b2;
$grey-lighter: #c7cfcc;
$grey-lightest: #ebede9;
$white-ter: $bgcolour;
$white-bis: #e0dfdc;
$white: $bgcolour;
$orange: #be772b;
$yellow: $highlightcolour;
$green: #9eda91;
$turquoise: #a4dddb;
$cyan: #81cfe4;
$blue: #4f8cb5;
$purple: #6a536e;
$red: #c6596b;

$primary: $accentcolour;

$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

$light: $white-ter;
$dark: $grey-darker;

$scheme-main: $white;
$background: $white-ter;

$text: $black;
$text-strong: $black;

$link: $blue;
$link-hover: $grey-darker;
$link-focus: $grey-darker;
$link-active: $grey-darker;

$navbar-item-hover-color: $accentcolour;
$navbar-item-hover-background-color: $highlightcolour;
$navbar-dropdown-item-hover-color: $accentcolour;
$navbar-dropdown-item-hover-background-color: $highlightcolour;
$navbar-dropdown-item-active-background-color: $highlightcolour;
$navbar-divider-background-color: $accentcolour;
$navbar-dropdown-arrow: $accentcolour;

$input-arrow: $accentcolour;

$footer-background-color: $accentcolour;

:root {
  --secondary-theme-color: #{$highlightcolour};
  --swiper-theme-color: #{$accentcolour} !important;
}

.carousel-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.carousel-header .category-name {
  font-size: 2rem;
  margin-bottom: 0px !important;
}

.carousel-header .carousel-view-all {
  font-size: 1.25rem;
}

.desktop-spacer {
  display: none;
}

#navbarMainMenu {
  max-height: calc(100dvh - 9.25rem);
  overflow-y: scroll;
}

/* touch devices */
@media (min-width: 769px) {
  .carousel-header {
    justify-content: center;
  }

  .carousel-header .category-name {
    font-size: 2.5rem;
  }

  .carousel-header .carousel-view-all {
    position: absolute;
    right: 0.5rem;
    bottom: 0.25rem;
  }

  .desktop-spacer {
    display: block;
  }
}

/* desktop */
@media (min-width: 1024px) {
  #navbarMainMenu {
    max-height: unset;
    overflow-y: unset;
  }
}

/* widescreen */
@media (min-width: 1216px) {
}

/* full hd */
@media (min-width: 1408px) {
}

#desktop-title h1 {
  font-size: 5rem;
}

#desktop-title {
  transition: margin-bottom 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
}

#desktop-title.small-title {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

#desktop-title.small-title img {
  max-height: 50px;
}

img.site-title {
  max-width: 400px;
  max-height: 100px;
  transition: max-height 0.5s ease-in-out;
}

h1.site-title {
  font-family: "Dawning of a New Day" !important;
}

.title,
.navbar,
.navbar-menu,
.navbar-item,
.subtitle {
  font-family: $font-family-overpass;
}

.navbar-menu > .navbar-item {
  text-transform: uppercase;
  font-size: 20px;
}

.navbar-dropdown {
  text-transform: none;
  font-size: 18px !important;
}

// .content {
//     font-family: 'Open Sans';
// }

#alpha-links {
  top: 122px;
  padding: 0.5rem;
  background: white;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 5;
}

.letter-link {
  padding: 1.2px;
}

.letter-link:hover {
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
}

.post-preview-image {
  border-radius: 3%;
  overflow: hidden;
}

.post-detail-header-image {
  border-radius: 10px;
  overflow: hidden;
}

a.tag-expander {
  white-space: nowrap;
}

i.fa-square-rss {
  color: #f69537;
}

.text-pink-on-hover {
  color: black !important;
}

.text-pink-on-hover:hover {
  color: $primary !important;
}

.content iframe {
  border-radius: 10px;
}

#mobile-title img {
  max-height: 3rem;
}

#adv-search.collapsed {
  display: none;
}

#adv-search-expand {
  cursor: pointer;
}

#adv-search-expand i {
  color: $primary;
}

#div_id_order_by {
  gap: 0.5rem;
}

#related-posts {
  z-index: 3;
}

.menu-border-bottom {
  border-bottom: 1px $highlightcolour;
}

// @import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
