@charset "utf-8";
// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Arsenal|Open+Sans|Dawning+of+a+New+Day');
// $footerfont:
// $sitetitlefont:
// $posttitlefont:
// $caruoseltitlefont:
// $carousellinkfont:
// $carouselposttitlefont:
// $menufont:
// $readmorefont:
// $taglisttitlefont:
// $taglistnamefont:

$font-family-inter: "Inter", sans-serif;
$font-family-mallanna: "Mallanna", sans-serif;
$font-family-karla: "Karla", sans-serif;
$font-family-overpass: "Overpass", sans-serif;
$font-family-opensans: "Open Sans";
$family-sans-serif: $font-family-inter;
// $family-primary:
// $family-secondary:
// $body-family:

$yellow: #fedd90;
$darkpink: #d6a496;
$lightpink: #f2d7d0;
$lightgrey: #f0f0f0;

$bgcolour: #ffffff;
$textcolour: #000000;
$accentcolour: $darkpink;
$highlightcolour: $yellow;
$accentdisabled: #d9cfcc;
$highlightedtext: $accentcolour;

// $sitetitletext: $textcolour;
// $tagtext: $textcolour;
// $categorytagbgcolor: $accentcolour;
// $tagbgcolor: $highlightcolour;
// $posttitletext: $textcolour;
// $carouseltitlecolor: $textcolour;
// $carousellinkcolor: $accentcolour;
// $carouselposttitle: $textcolour;
// $footerbg: $accentcolour;
// $topiconsbg: $bgcolour;
// $readmorebubblebg: $highlightcolour;
// $taglistnamecolor: $accentcolour;

$black: #000000;
$black-bis: #151d28;
$black-ter: #202e37;
$grey-darker: #394a50;
$grey-dark: $textcolour;
$grey: #819796;
$grey-light: #a8b5b2;
$grey-lighter: #c7cfcc;
$grey-lightest: #ebede9;
$white-ter: $bgcolour;
$white-bis: #e0dfdc;
$white: $bgcolour;
$orange: #be772b;
// $yellow: $highlightcolour;
$green: #9eda91;
$turquoise: #a4dddb;
$cyan: #81cfe4;
$blue: #4f8cb5;
$purple: #6a536e;
$red: #c6596b;

$primary: $accentcolour;

$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

$light: $white-ter;
$dark: $grey-darker;

$scheme-main: $white;
$background: $white-ter;

$text: $black;
$text-strong: $black;

$link: $blue;
$link-hover: $grey-darker;
$link-focus: $grey-darker;
$link-active: $grey-darker;

$navbar-item-hover-color: $white;
$navbar-item-active-color: $white;
$navbar-item-hover-background-color: $accentcolour;
// $navbar-dropdown-item-hover-color: ;
$navbar-dropdown-item-hover-background-color: $highlightcolour;
$navbar-dropdown-item-active-background-color: $highlightcolour;
$navbar-dropdown-radius: 10px;
$navbar-divider-background-color: $accentcolour;
$navbar-dropdown-arrow: $accentcolour;
$navbar-height: 40px;
$navbar-padding-vertical: 0;

$input-arrow: $accentcolour;

$footer-background-color: $accentcolour;

:root {
  --secondary-theme-color: #{$highlightcolour};
  --swiper-theme-color: #{$accentcolour} !important;
}

#header-bar {
  background: $yellow;
  z-index: 100;
  height: 40px;
}
#header-bar .navbar-item {
  padding: 0 0.75rem;
}
#header-bar-logo {
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
#header-bar-logo img {
  max-height: 32px;
  filter: grayscale(1) contrast(100) invert(1); /* TODO: bake this into the pic? */
}
.is-transparent {
  opacity: 0 !important;
}

.carousel-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.carousel-header .category-name {
  font-size: 2rem;
  margin-bottom: 0px !important;
}

.carousel-header .carousel-view-all {
  font-size: 1.25rem;
}

.desktop-spacer {
  display: none;
}

#navbarMainMenu {
  max-height: calc(100dvh - 9.25rem);
  overflow-y: scroll;
}

#navbar {
  top: 0px;
  position: sticky;
  z-index: 50;
  border-bottom: 1px solid $lightpink;
  border-top: 1px solid $lightpink;
}

#site-warning {
  border-radius: 10px;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
}
#site-warning-wrapper {
  display: flex;
  justify-content: center;
  position: unset;
  z-index: 5;
  width: 100%;
}

.navbar-item.has-dropdown.is-hoverable.mobile-collapsed > .navbar-dropdown {
  display: none;
}
.navbar-item.has-dropdown.is-hoverable:not(.mobile-collapsed)
  > .navbar-link::after {
  transform: rotate(135deg);
}

.navbar-link:not(.is-arrowless)::after {
  transition: 0.2s ease-in-out;
}

.navbar-item.has-dropdown.is-hoverable:hover,
.navbar-item.has-dropdown.is-hoverable:active {
  & > .navbar-link {
    color: $white;
    background: $accentcolour;
    &::after {
      border-color: $white;
    }
  }
  & > .navbar-dropdown > .navbar-item:active,
  & > .navbar-dropdown > .navbar-item:hover {
    background: $lightpink;
    color: $black;
  }
}

.cat-tag-filter {
  & > label {
    text-wrap: nowrap;
  }
  & > .select {
    min-width: 0;
  }
}

/* touch devices */
@media (min-width: 769px) {
  .carousel-header {
    justify-content: center;
  }

  .carousel-header .category-name {
    font-size: 2.5rem;
  }

  .carousel-header .carousel-view-all {
    position: absolute;
    right: 0.5rem;
    bottom: 0.25rem;
  }

  .desktop-spacer {
    display: block;
  }
}

/* desktop */
@media (min-width: 1024px) {
  #navbarMainMenu {
    max-height: unset;
    overflow-y: unset;
  }
  #navbar {
    top: 40px;
  }

  #site-warning-wrapper {
    top: 40px;
    width: unset;
    position: absolute;
  }

  .navbar-link:not(.is-arrowless)::after {
    top: unset;
  }

  .navbar-item.has-dropdown.is-hoverable.mobile-collapsed:hover
    > .navbar-dropdown {
    display: revert !important;
  }

  .navbar-item.has-dropdown.is-hoverable:not(.mobile-collapsed)
    > .navbar-link::after {
    transform: rotate(-45deg);
  }
  .navbar-item.has-dropdown.is-hoverable:hover,
  .navbar-item.has-dropdown.is-hoverable:active {
    & > .navbar-dropdown > .navbar-item:active,
    & > .navbar-dropdown > .navbar-item:hover {
      background: $yellow;
    }
  }
}

/* widescreen */
@media (min-width: 1216px) {
}

/* full hd */
@media (min-width: 1408px) {
}

#desktop-title h1 {
  font-size: 5rem;
}

img.site-title {
  max-width: 400px;
  max-height: 100px;
}

h1.site-title {
  font-family: "Dawning of a New Day" !important;
}

.title,
.navbar,
.navbar-menu,
.navbar-item,
.subtitle {
  font-family: $font-family-overpass;
}

.navbar-menu > .navbar-item {
  // text-transform: uppercase;
  font-size: 20px;
}

.navbar-dropdown {
  text-transform: none;
  font-size: 18px !important;
}

#alpha-links {
  top: 80px;
  padding: 0.5rem;
  background: white;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 5;
}

.letter-link {
  padding: 1.2px;
}

.letter-link:hover {
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
}

.post-preview-image {
  border-radius: 3%;
  overflow: hidden;
}

.post-detail-header-image {
  border-radius: 10px;
  overflow: hidden;
}

a.tag-expander {
  white-space: nowrap;
}

.text-pink-on-hover {
  color: black !important;
}

.text-pink-on-hover:hover {
  color: $primary !important;
}

.content iframe {
  border-radius: 10px;
}

#mobile-title img {
  max-height: 3rem;
}

#adv-search.collapsed {
  display: none;
}

#adv-search-expand {
  cursor: pointer;
}

#adv-search-expand i {
  color: $primary;
}

#div_id_order_by {
  gap: 0.5rem;
}

#related-posts {
  z-index: 3;
}

.menu-border-bottom {
  border-bottom: 1px $highlightcolour;
}

// @import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";

// these rules will take precedence over Bulma's

.title-search-input {
  border: none;
  background: none;
  outline: none !important;
  box-shadow: none !important;
  &::placeholder {
    color: black;
  }
  // &:focus {
  //   border-bottom: black 1px solid !important;
  //   text-decoration: underline;
  // }
}

.navbar-link:not(.is-arrowless)::after {
  border-radius: 0 3px;
  border-width: 2px;
}

.navbar-burger {
  margin-left: unset;
  margin-right: 0.5em;
  & > span {
    left: calc(50% - 12px);
    width: 24px;
    height: 2px;

    &:nth-child(1) {
      top: calc(50% - 9px);
    }
    &:nth-child(3) {
      top: calc(50% + 7px);
    }
  }
  &.is-active > span {
    &:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.navbar-search {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 64px;
  width: 40px;
  &:has(input:focus) {
    background: $yellow;
    margin-left: 0;
    margin-right: auto;
    width: 85%;
  }
  & input {
    width: 0;
    &:focus {
      width: 80vw;
    }
  }
}

.navbar-brand {
  min-height: 64px;
  &:has(.title-search-input:focus) #mobile-title {
    display: none;
  }
}

.tag {
  justify-content: start;
  max-width: 100%;
  overflow: hidden;
}
