#desktop-title {
    display: flex;
    justify-content: center;
}

.card-with-annotation {
    position: relative;
}

.card-image-annotation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
    /* Change the color and opacity as desired */
    color: white;
    /* Change the text color as desired */
    padding: 1rem;
    /* Adjust padding as desired */
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.card-image-annotation p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#alpha-links {
    position: sticky;
    top: 0;
    z-index: 5;
}

.letter-link {
    padding: 1.2px;
}

.letter-link:hover {
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}

.post-preview-image {
    border-radius: 3%;
    overflow: hidden;
}

.post-detail-header-image {
    border-radius: 10px;
    overflow: hidden;
}