.cropper-widget {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.cropper-widget-visible {
    display: flex;
}

.cropper-include-image {
    display: inline-flex;
    gap: 5px;
    margin-top: 5px;
}

.cropper-widget-button {
    padding: 5px 10px;
    background-color: #417690;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.cropper-widget-button:hover {
    background-color: #79aec8;
}

.cropper-widget-preview {
    max-width: 500px;
    max-height: 500px;
}

.cropper-widget-rotate-slider {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cropper-widget-rotate-slider input[type="range"] {
    flex-grow: 1;
}

