.cropper-include-image-input label {
    display: inline-flex;
    align-items: flex-end;
    gap: 10px;
}

.cropper-widget-apply-button {
    padding: 5px 10px;
    background-color: #417690;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.cropper-widget-apply-button:hover {
    background-color: #79aec8;
}

.cropper-widget-preview {
    max-width: 500px;
    max-height: 500px;
}