{% extends 'core/base.html' %}
{% load blog_tags %}
{% block title %}{{ site_identity.title }} - {{ post.title }}{% endblock %}
{% block content %}

    <div class="columns">
        <div class="column">
            <div class="section">
                <div class="">
                    <h1 class="title is-2">{{ post.title }}</h1>
                    <p class="date subtitle is-6">
                        Published {{ post.publish|date:"DATE_FORMAT" }} by {{ post.author.first_name }}
                    </p>
                    {% include "blog/post/includes/post_tags.html" with tpost=post %}
        
                </div>
                {% if post.header_image %}
                <figure class="">
                    <img src="{{ post.header_image.url }}"
                                alt="{{ post.title }}"
                                class="post-detail-header-image">
                </figure>
                {% endif %}
                <div class="content">
                    {{ post.body|safe }}
                </div>
            </div>
        
            <div class="section">
                {% comment %} TODO: format with Bulma forms {% endcomment %}
                {% with comments.count as total_comments %}
                {% if total_comments %}
                <h2>{{ total_comments }} comment{{ total_comments|pluralize }} </h2>
                {% endif %}
                {% endwith %}
                {% for comment in comments %}
                    <div class="comment">
                        <p class="info">
                            Comment #{{ forloop.counter }} by <em>{{ comment.name }}</em>
                            {{ comment.created }}{% if comment.is_updated %}; Updated: {{ comment.updated }}{% endif %}
                        </p>
                        {{ comment.text|linebreaks }}
                    </div>
                {% empty %}
                    <p>There are no comments</p>
                {% endfor %}
                {% include "blog/post/includes/comment_form.html" %}
            </div>
        </div>
        <div class="column is-4">
            {% include "blog/post/includes/sidebar.html" %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}