{% extends 'core/base.html' %}
{% load blog_tags %}
{% block title %}{{ site_identity.title }} - Posts{% endblock %}
{% block content %}
    <div class="section">
        <div class="block">
            {% if tag %}Posts tagged with <span class="tag is-info is-light">{{ tag }}</span>{% endif %}
            {% if category %}Posts for category: <span class="tag is-primary is-light">{{ category }}</span>{% endif %}
        </div>
        {% include "blog/post/includes/post_list.html" %}
    </div>
{% endblock %}