{% extends "core/base.html" %}
{% block title %}
  {{ about.title }} - {{ block.super }}
{% endblock title %}
{% block content %}
  <div class="section">
    {% if about.show_title_in_page %}
      <div class="block">
        <h1 class="title is-1 has-text-centered">{{ about.title }}</h1>
      </div>
    {% endif %}
    <div id="post-content" class="content info-pages">{{ about.content|safe }}</div>
  </div>
{% endblock content %}
{% block scripts %}<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>{% endblock %}
