{% load blog_tags %}
{% load core_tags %}
{% get_social_media_links as sm_links %}
<div id="header-bar" class="is-uppercase sticky is-hidden-touch">
  <div class="container">
    <div class="is-flex is-justify-content-space-between">
      <div class="navbar-item title-search">
        <form action="{% url 'blog:post_search' %}"
              method="get"
              class="control has-icons-left title-search-form">
          <span class="icon">{% include "core/icons/search_icon.html" %}</span>
          <input type="text"
                 class="input title-search-input"
                 placeholder="SEARCH"
                 name="query">
        </form>
      </div>
      <div class="is-flex is-flex-direction-row">
        <a class="navbar-item" href="{% url 'about' %}" data-filter="about">
          <span class="is-flex">About</span>
        </a>
        {% if sm_links.twitter_url %}
          <a class="navbar-item" href="{{ sm_links.twitter_url }}" target="_blank">
            <span class="is-flex">{% include "core/icons/sm_x_icon.html" %}</span>
          </a>
        {% endif %}
        {% if sm_links.instagram_url %}
          <a class="navbar-item"
             href="{{ sm_links.instagram_url }}"
             target="_blank">
            <span class="is-flex">{% include "core/icons/sm_instagram_icon.html" %}</span>
          </a>
        {% endif %}
        {% if sm_links.youtube_url %}
          <a class="navbar-item" href="{{ sm_links.youtube_url }}" target="_blank">
            <span class="is-flex">{% include "core/icons/sm_youtube_icon.html" %}</span>
          </a>
        {% endif %}
        <a class="navbar-item"
           href="{% url "blog:post_feed" %}"
           target="_blank"
           aria-label="Blog Post RSS Feed">
          <span class="is-flex">{% include "core/icons/rss_icon.html" %}</span>
        </a>
        {% get_subscription_options as sub_options %}
        {% if sub_options.show_kofi_link_in_head_menu %}
          <a class="navbar-item"
             href="https://ko-fi.com/{{ sub_options.kofi_account_name }}"
             data-filter="ko-fi"
             target="_blank">
            <span class="pr-1 is-flex">{% include "core/icons/kofi_icon.html" %}</span>
            <span>Ko-fi</span>
          </a>
        {% endif %}
      </div>
    </div>
    <div id="header-bar-logo" class="is-transparent">
      <a href="{% url 'blog:front_page' %}">{% include "core/base_includes/logo_or_text_title.html" %}</a>
    </div>
  </div>
</div>
{% if site_identity.header_message %}
  <div class="is-flex" id="site-warning-wrapper">
    <div id="site-warning" class="has-background-dark has-text-white">
      <button class="delete"
              style="float:right;
                     margin-top:2px"
              onclick="this.parentElement.style.display='none';"></button>
      <i class="fa-solid fa-circle-info"></i> {{ site_identity.header_message }}
    </div>
  </div>
{% endif %}
<div id="desktop-title"
     class="is-hidden-touch is-flex is-justify-content-center p-4">
  <a href="{% url 'blog:front_page' %}" class="is-flex">{% include "core/base_includes/logo_or_text_title.html" %}</a>
</div>
<div id="navbar" class="has-background-white">
  <nav class="navbar is-justify-content-center container"
       role="navigation"
       aria-label="main navigation">
    <div class="navbar-brand is-align-items-center is-hidden-desktop">
      <a class="navbar-item"
         id="mobile-title"
         href="{% url 'blog:front_page' %}">{% include "core/base_includes/logo_or_text_title.html" %}</a>
      <div class="navbar-search">
        <form action="{% url 'blog:post_search' %}"
              method="get"
              class="control has-icons-left title-search-form">
          <span class="icon">{% include "core/icons/search_icon.html" %}</span>
          <input type="text"
                 class="input title-search-input"
                 placeholder="SEARCH"
                 name="query">
        </form>
      </div>
      <a role="button"
         class="navbar-burger"
         aria-label="menu"
         aria-expanded="false"
         data-target="navbarMainMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarMainMenu"
         class="navbar-menu is-justify-content-space-between">
      {% get_nav_items as all_nav_items %}
      {% for nav_item in all_nav_items %}
        {% if nav_item.is_dropdown %}
          <div class="navbar-item has-dropdown is-hoverable mobile-collapsed">
            <a class="navbar-link"
               href="{{ nav_item.primary_category.get_absolute_url }}">{{ nav_item.primary_category.name }}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ nav_item.get_absolute_url }}">All {{ nav_item.primary_category.name }}</a>
              <hr class="navbar-divider">
              {% for subitem in nav_item.sub_items.all %}
                <a class="navbar-item" href="{{ subitem.get_absolute_url }}">{{ subitem.subcategory.name }}</a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a class="navbar-item"
             href="{{ nav_item.primary_category.get_absolute_url }}">{{ nav_item.primary_category.name }}</a>
        {% endif %}
      {% endfor %}
      {% comment %} Mobile menu only {% endcomment %}
      <div class="navbar-item is-hidden-desktop has-background-warning p-0">
        <a class="navbar-item is-hidden-desktop"
           href="{% url 'about' %}"
           data-filter="about">
          <span class="icon-text">
            <span class="icon">{% include "core/icons/about_icon.html" %}</span>
            <span>About</span>
          </span>
        </a>
        {% if sm_links.twitter_url %}
          <a class="navbar-item is-hidden-desktop"
             href="{{ sm_links.twitter_url }}"
             target="_blank">
            <span class="icon-text">
              <span class="icon">{% include "core/icons/sm_x_icon.html" %}</span>
              <span>{{ sm_links.twitter_name }}</span>
            </span>
          </a>
        {% endif %}
        {% if sm_links.instagram_url %}
          <a class="navbar-item is-hidden-desktop"
             href="{{ sm_links.instagram_url }}"
             target="_blank">
            <span class="icon-text">
              <span class="icon">{% include "core/icons/sm_instagram_icon.html" %}</span>
              <span>{{ sm_links.instagram_name }}</span>
            </span>
          </a>
        {% endif %}
        {% if sm_links.youtube_url %}
          <a class="navbar-item is-hidden-desktop"
             href="{{ sm_links.youtube_url }}"
             target="_blank">
            <span class="icon-text">
              <span class="icon">{% include "core/icons/sm_youtube_icon.html" %}</span>
              <span>{{ sm_links.youtube_name }}</span>
            </span>
          </a>
        {% endif %}
        <a class="navbar-item is-hidden-desktop"
           href="{% url "blog:post_feed" %}"
           target="_blank">
          <span class="icon-text">
            <span class="icon">{% include "core/icons/rss_icon.html" %}</span>
            <span>Subscribe to RSS feed</span>
          </span>
        </a>
        {% get_subscription_options as sub_options %}
        {% if sub_options.show_kofi_link_in_head_menu %}
          <a class="navbar-item is-hidden-desktop"
             href="https://ko-fi.com/{{ sub_options.kofi_account_name }}"
             data-filter="ko-fi"
             target="_blank">
            <span class="icon-text">
              <span class="icon">{% include "core/icons/kofi_icon.html" %}</span>
              <span>Ko-fi</span>
            </span>
          </a>
        {% endif %}
      </div>
      <div class="navbar-item is-hidden-desktop">
        <span class="icon-text is-flex-wrap-nowrap">
          <span class="icon">ⓒ</span>
          <span>{{ site_identity.title }} {% now "Y" %}
            {% if site_identity.footer_copy_message %}- {{ site_identity.footer_copy_message }}{% endif %}
          </span>
        </span>
      </div>
    </div>
  </nav>
</div>
