{% load blog_tags %}
{% comment %} htmx post pagination - fetches post/includes/post_list using htmx {% endcomment %}
<div class="pagination section">
  <span class="step-links">
    {% if page_obj.has_previous %}
      {% get_page_url page=page_obj.previous_page_number as prev_page_url %}
      <a href="{{ prev_page_url }}"
         hx-target="#list-items"
         hx-get="{{ prev_page_url }}"
         hx-push-url="{{ prev_page_url }}"
         hx-swap="outerHTML show:top"
         class="has-text-primary">&lt&lt</a>
    {% endif %}
    <span class="current">
      {% if page_obj.paginator.num_pages > 1 %}Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endif %}
    </span>
    {% if page_obj.has_next %}
      {% get_page_url page=page_obj.next_page_number as next_page_url %}
      <a href="{{ next_page_url }}"
         hx-target="#list-items"
         hx-get="{{ next_page_url }}"
         hx-push-url="{{ next_page_url }}"
         hx-swap="outerHTML show:top"
         class="has-text-primary">&gt&gt</a>
    {% endif %}
  </span>
</div>
