{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}Doggo Bloggo - {{ category.name }}{% endblock %}
{% block content %}
    <div class="section">
        <h3 class="title is-3">{{ category.name }}</h3>
        <div class="select">
            <select 
                name="tag" 
                id="cat_tag_select" 
                hx-get="{% paginated_htmx_link category=category %}"
                hx-target="#list-items"
                data-url="{{ category.get_absolute_url }}"
            >
                <option value="">All</option>
                {% for tag in tags %}
                    <option value="{{ tag.slug }}"
                    hx-push-url=""
                    >{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% include "blog/post/includes/post_list.html" %}
    </div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/htmx_helpers.js' %}"></script>
{% endblock %}