{% extends 'blog/base.html' %}
{% block title %}Doggo Bloggo - Celebs{% endblock %}
{% block content %}
    <div class="section">
        <h3 class="title is-3">{{ category.name }}</h3>
        <div id="list-items">
            {% regroup tags by name.0 as alpha_tags %}
            {% for letter, letter_tags in alpha_tags %}
                <p class="title is-3">{{ letter }}</p>
                {% for tag in letter_tags %}
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item image is-96x96">
                                <img src="{% if tag.thumbnail %}{{ tag.thumbnail }}{% else %}https://bulma.io/images/placeholders/96x96.png{% endif %}"
                                alt="{{ tag.name }}" class="is-rounded">
                            </div>
                            <a href="{{ tag.get_absolute_url }}" class="level-item content">
                                <div>
                                    <p class="title is-4">{{ tag.name }}</p>
                                    <p class="subtitle is-6">Hello this person isn't described yet</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}